<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card>
		<ion-card-header>
		    Insert course to Firebase
		</ion-card-header>
		<ion-card-content>
			<form (ngSubmit)="onSubmitAdd()">
				<ion-input [(ngModel)]="course.name" name="name" type="text" placeholder="Course name"></ion-input>
				<button ion-button type="submit">Add</button>
			</form>

		</ion-card-content>
	</ion-card>
		<ion-list *ngIf="courses?.length > 0; else noCourses">
			<ion-card 
			*ngFor="let course of courses" 
			(click)="navigateToDetailPage(course.key)"
			[navPush]="pushToDetailPage" [navParams]="paramsID">
				<ion-card-header>
					<b>{{course.key}}</b>
				</ion-card-header>
				<ion-card-content>
					<p>{{course.name}}</p>
				</ion-card-content>
			</ion-card>
		</ion-list>
		<ng-template #noCourses>
			<ion-card>
			  <ion-card-content>
			    There are no courses in the system. Check for account privileges...
			  </ion-card-content>
			
			</ion-card>
		</ng-template>
</ion-content>
